.body {
	background-color: #d9dbd0;
}
.form-signin {
	width: 100%;
	max-width: 330px;
	padding: 15px;
	margin: 0 auto;
}
.mb-1 {
	background-color: tomato;
}
.my-5 {
	background-color: white;
	margin: 10px;
}
.row {
	margin: 10px;
	padding-bottom: 10px;
}
.form-header {
	background-color: tomato;
	padding: 1rem;
	margin-top: -3.13rem;
	margin-bottom: 3rem;
	color: #fff;
	text-align: center;
	border-radius: .125rem;
	-webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
	box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}
.form-signin {
	margin-top: 60px;
	margin-bottom: 60px;
}
.btn {
	background-color: tomato !important;
	color: white;
}
.map-container-section {
	overflow: hidden;
	padding-bottom: 56.25%;
	position: relative;
	height: 0;
}
.map-container-section iframe {
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	position: absolute;
}
.backgroundpic {
	width: 100%;
	height: 250px;
}
.profilepic {
	margin: -90px 200px 50px 360px;
	width: 20%;
	border-radius: 50%;
}
.adamoanna {
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-top: 40px;
	width: 50%;
}
.text-center {
	padding: 5%;
}
.containerprofile {
	background-color: #FFF;
	width: 60%;
	padding-bottom: 50px;
	margin: 30px auto;
	position: relative;
}
.load {
	text-align: center;
}
.time {
	font-size: 9px !important
}
.socials i {
	margin-right: 14px;
	font-size: 17px;
	color: #d2c8c8;
	cursor: pointer
}
.feed-image img {
	width: 100%;
	height: auto;
}
.bi-globe {
	color: tomato;
}
.bi-people {
	color: blue;
}
footer.footerLists {
	background: tomato;
	text-align: center;
	width: 100%;
	position: relative;
	left: 0;
	bottom: 0;
	color: white;
	border-top-style: solid;
	border-top-width: 1px;
}
.listFooter {
	list-style-type: none;
	display: inline-block;
}
footer.footerLists ul:first-child {
	padding-inline-start: 0px;
}
.listFooter li {
	margin-top: 5px;
}